*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: #fffaf5;
    color: #362417;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffaf5;
    padding: 0.75rem 1rem;
}

header img {
    width: 90px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  
}

nav a {
    text-decoration: none;
    color: #362417;
}

nav a:hover {
    color: #d62727;
}

.hero {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    color: #5c2c16;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.hero p {
    line-height: 1.6;
}

.botoes {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.botao {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    border-radius: 6px;
    background-color: #d62727;
    color: #ffffff;
}

.botao:hover {
    background-color: #974621;
}

.botao-secundario {
    background-color: transparent;
    color: #362417;
    border: 2px solid #362417;
}

main {
        max-width: 1200px;
        margin: 0 auto;
}

.sobre {
    padding: 2rem 1rem;
}

.sobre-conteudo img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
}

.sobre-texto {
    margin-top: 1rem;
}

.sobre-texto p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.produtos {
    padding: 2rem 1rem;
}

.produtos h2 {
    margin-bottom: 1.5rem;
}

.produtos > .botao{
    margin-top: 1.5rem;
}

.produto-card img {
    width: 100%;
    height: 280px;
    display: block;
    object-fit: cover;

}

#produtos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.produto-card {
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.produto-card h3 {
    padding: 1rem 1rem 0.5rem;
}

.produto-card p {
    padding: 0 1rem 1rem;
}

.servicos img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 12px;
}

.servicos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    margin: 1.5rem 0;
}

.servicos img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 12px;
}

.servicos-texto .botao {
    margin-top: 1.5rem;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #5a2608;
    color: white;
    line-height: 1.5;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#menu {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

nav {
    display: none;
}

nav.open {
    display: block;
}

